<%- include('../partials/navbar'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibazon | Categories</title>
</head>
<body>
    <h1><%= category_list[0].page_title%></h1>
    <% if (category_list.length > 0) { %>
        <div class ="container">
            <% for (let category of category_list) { %>
                <div class="row">
                    <div class="col">
                        <a href="/subcategory/<%= category.id %>"><img src="/images/<%= category.image %>"  id= "<%= category.id %>" class="d-block w-100" ></a>
                        <div class ="container">
                            <h4><%= category.page_description %></h4>
                        </div>
                    
                    </div>
                </div>

            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</body>
</html>

<%- include('../partials/footer'); -%>