<%- include('../partials/navbar'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibazon | Product Details</title>
</head>
<body>
      <div class="row mt-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <% if(product_list[0].primary_category_id.includes('womens')) { %>
              <li class="breadcrumb-item"><a href="/categories/womens">womens</a></li>
            <% } else { %>
              <li class="breadcrumb-item"><a href="/categories/mens">mens</a></li>
            <% } %>
            <% let parentId =  product_list[0].primary_category_id.split('-')%>
            <% let categoryId =  parentId[0] + '-' + parentId[1]%>
            <li class="breadcrumb-item"><a href="/subcategory/<%= categoryId%>"><%= categoryId%></a></li>
            <li class="breadcrumb-item"><a href="/subcategoryDetail/<%= product_list[0].primary_category_id%>"><%= product_list[0].primary_category_id%></a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= product_list[0].name%></li>
          </ol>
        </nav>
        </div>
    <div class="container">
        <div class="col">
            <div class="card" style="flex-direction: row;">
                <a><img class="card-img-top" src="/images/<%= product_list[0].image_groups[0].images[0].link %>" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title d-flex flex-column"><%= product_list[0].name %></h5>
                    <p class="card-text"><%= product_list[0].page_description %></p>
                </div>
                <div class="card-footer d-flex flex-column">
                    <p class="card-text"><small class="text-muted">Price: <%= product_list[0].price %> <%= product_list[0].currency %></small></p>
                    <button type="button" class="btn btn-primary mt-auto">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
<%- include('../partials/footer'); -%>