<%- include('../partials/navbar'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibazon | Categories</title>
</head>
<body>
    
    <<% if (product_list.length > 0) { %>
        <div class ="container">
            <% for (let i = 0 ; i< product_list.length; i++) { %>
                <% if (i % 3 == 0) { %>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card" style="width: 22rem;">
                                <a href="/product/<%= product_list[i].id %>" ><img class="card-img-left" src="/images/<%= product_list[i].image_groups[0].images[0].link %>" alt="Card image cap"></a>
                                <div class="card-body">
                                    <h5 class="card-title"><%= product_list[i].name %></h5>
                                    <p class="card-text"><%= product_list[i].page_description %></p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text"><small class="text-muted">Price: <%= product_list[i].price %> <%= product_list[i].currency %></small></p>
                                </div>
                            </div>
                        </div>
                <% } else { %>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card" style="width: 22rem;">
                            <a href="/product/<%= product_list[i].id %>" ><img class="card-img-left" src="/images/<%= product_list[i].image_groups[0].images[0].link %>" alt="Card image cap"></a>
                            <div class="card-body ">
                                <h5 class="card-title"><%= product_list[i].name %></h5>
                                <p class="card-text"><%= product_list[i].page_description %></p>
                      
                            </div>
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">Price: <%= product_list[i].price %> <%= product_list[i].currency %></small></p>
                            </div>
                        </div>
                    </div>
                    <% if (i % 3 == 2) { %>
                    </div>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>

    <!--<% if (product_list.length > 0) { %>
        <div class="card-groups">
            <% for (let i = 0 ; i< product_list.length; i++) { %>
                <div class="card" style="width: 22rem;">
                    <a href="/product/<%= product_list[i].id %>" ><img class="card-img-left" src="/images/<%= product_list[i].image_groups[0].images[0].link %>" alt="Card image cap"></a>
                    <div class="card-body">
                      <h5 class="card-title"><%= product_list[i].name %></h5>
                      <p class="card-text"><%= product_list[i].page_description %></p>
                      <p class="card-text"><small class="text-muted"><%= product_list[i].price %></small></p>
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>-->

</body>
</html>

<%- include('../partials/footer'); -%>