<%- include('../partials/navbar'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibazon | Categories</title>
</head>
<body>
    
    <% if (product_list.length > 0) { %>
        <div class ="container">
            <% for (let i = 0 ; i< product_list.length; i++) { %>
                <% if (i % 3 == 0) { %>
                    <div class="row">
                        <div class="col">
                            <a href="/product/<%= product_list[i].id %>"><img src="/images/<%= product_list[i].image_groups[0].images[0].link %>"  id= "<%= product_list[i].id %>" class="d-block w-100" ></a>
                            <div class ="container">
                                <h4><%= product_list[i].page_description %></h4>
                            </div>
                        
                        </div>
                    </div>
                <% } else { %>
                    <div class="col">
                        <div class ="container">
                            <h4><%= product_list[i].name %></h4>
                        </div>
                        <a href="/product/<%= product_list[i].id %>"><img src="/images/<%= product_list[i].image_groups[0].images[0].link %>"  id= "<%= product_list[i].id %>" class="d-block w-100" ></a>
                        <div class ="container">
                            <h4><%= product_list[i].page_description %></h4>
                        </div>
                    
                    </div>
                <% } %>
                

            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</body>
</html>

<%- include('../partials/footer'); -%>