<%- include('../partials/navbar'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alibazon | Categories</title>
</head>
<body>
    <div class="row mt-2">
        <div class="col-md-12 m-auto">
          <%if (breadcrumbs) { %>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <% breadcrumbs.forEach(crumb => { if(!crumb.name.startsWith("?")){%>
              <li class="breadcrumb-item" aria-current="page">
                <a><%= crumb.name %></a>
              </li>
              <%}})%>
            </ol>
          </nav>
          <%} %>
        </div>
      </div>
    <% if (category_list.length > 0) { %>
        <div class ="container">
            <% for (let category of category_list) { %>
                <div class="row">
                    <div class="col">
                        <a href="/subcategoryDetail/<%= category.id %>"><img src="/images/<%= category.image %>"  id= "<%= category.id %>" class="d-block w-100" ></a>
                        <div class ="container">
                            <h4><%= category.page_description %></h4>
                        </div>
                    
                    </div>
                </div>

            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</body>
</html>

<%- include('../partials/footer'); -%>